main {
	display: flex;
	flex-direction: column;

	background-color: yellow;
	max-width: 100%;
}
div {
	width: 100%;
	display: flex;
	justify-content: center;
}

#title {
	font-family: Helvetica;
	font-size: 1.5rem;
	color: white;

	padding: 0px;
	height: 12rem;
	max-width: 100%;
	background-color: black;
	z-index: 10;
	display: block;
	text-align: center;
}

html,body {
	margin: 0px;
}
#game-wrap {
	display: block;
}

.game-1 {
	max-width: 100%;
	background-color: green;
	position: relative;
}

img {
	width: 100px;
	height: 100px;
}

.game {

	padding: 0px 0px 0px;
}

.hidden {
	display: none;
}

.sauce {
	display: none;
}

.meat {
	display: none;
}